<nav class="mobile-nav">
    <div class="toggle">
        <h3>Movies Inventory</h3>
        <div class="toggleButton">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <ul class="dropdown">
        <li><a href="/">Home</a></li>
        <li><a href="/add">Add Movie</a></li>
    </ul>
</nav>

<nav class="desktop-nav">
    <h2>Movies Inventory</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add">Add Movie</a></li>
    </ul>
</nav>