<form class="updateForm" action="/update" method="put" enctype="multipart/form-data">
    <div class="exit">X</div>
    <h2>Update</h2>

    <label for="movieName">Movie Name:</label>
    <input type="text" class="movieName" name="movieName" id="movieName" maxlength="40">

    <label for="desc">Descript:</label>
    <input type="text" class="desc" name="desc" id="desc" maxlength="200">

    <button type="submit">Submit</button>
</form>

<div class="cards"> 
</div>

<script src="script/crud.js"></script>